doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel="stylesheet" href="/css/jquery-ui.min.css")
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

    script(src="/js/jquery-1.12.1.min.js")
    script(src="/js/external/jquery/jquery.js")
    script(scr="/js/jquery-ui.min.js")
    script(src="/js/bootstrap.min.js")
        
    
    block scripts
